<ion-view>
    <ion-pane>
        <ion-header-bar>
        	<a class="button button-clear ion-ios-arrow-back" href="#/app/home" style="font-size: 25px;" type="submit"></a>
            <h1 class="title">Doctor Home Visit</h1>
        </ion-header-bar>
        <ion-content>
            <form>
            	<a href="#/appointment_date" style="text-decoration: none;">
                <div class="list card">
                    <div class="item item-divider" style="background: url('img/visit.png'); background-size: cover; height: 340px;">
                    <br><br><br><br>
                    	<div style="background-color: white; opacity: 0.3; height: 180px; padding: 10px;" align="center">
                       		<p style="color: black; font-size: 30px; height: 350px; white-space: pre-wrap; line-height: 100%; opacity: 1;">Specify if you want the doctor to visit your current address found in the profile or specify a new address.</p>
                        </div>
                    </div>
                    
                    <div class="item item-divider">
                        <h3>City</h3>
                    </div>
                    <div class="item item-body" align="center">
                        <div>Gutur</div>
                    </div>
                    <div class="item item-divider">
                        <h3>Current Address</h3>
                    </div>
                    <div class="item item-body" align="center">
                        <div>India</div>
                    </div>
                </div>
                </a>
                <div align="center">
                    <a class="button button-block button-calm" href="#/new_address" style="width: 80%;">New Address</a>
                </div>
            </form>
        </ion-content>
    </ion-pane>
</ion-view>
