<ion-view view-title="Home" hide-back-button="true">
    <ion-content>
        <ion-list>
            <div class="row" style="padding: 50px;">
                <div class="col-40">
                    <button style="background-color: white; border:0px;" ui-sref="chat.detail_chat">
                        <img ng-src="img/ic_category_chat.png" align="right" style="width: 100%;">
                        <p align="center" style="color: red; font-size: 10px;">Chat with Doctor for Free</p>
                    </button>
                </div>
                <div class="col-20"></div>
                <div class="col-40">
                    <button style="background-color: white; border:0px;" ui-sref="visit">
                        <img ng-src="img/ic_category_visit.png" align="left" style="width: 100%;">
                        <p align="center" style="color: red; font-size: 10px;">Doctor Home Visit</p>
                    </button>
                </div>
            </div>
            <div class="row" style="padding: 50px; padding-top: 0px;">
                <div class="col-40">
                    <button style="background-color: white; border:0px;" ui-sref="">
                        <img ng-src="img/ic_category_nurse.png" align="right" style="width: 100%;">
                        <p align="center" style="color: red; font-size: 10px;">Home Nursing</p>
                    </button>
                </div>
                <div class="col-20"></div>
                <div class="col-40">
                    <button style="background-color: white; border:0px; opacity:0.3;" ui-sref="">
                        <img ng-src="img/ic_category_lab.png" align="left" style="width: 100%;">
                        <p align="center" style="color: red; font-size: 10px;">Lab tests</p>
                    </button>
              </div>
            </div>
            <div class="row" style="padding: 50px; padding-top: 0px; opacity:0.3;">
                <div class="col-40">
                    <button style="background-color: white; border:0px;" ui-sref="">
                        <img ng-src="img/ic_category_medicine.png" align="left" style="width: 100%;">
                        <p align="center" style="color: red; font-size: 10px;">Medicine Delivery</p>
                    </button>
                </div>
                <div class="col-20"></div>
                <div class="col-40">
                    <button style="background-color: white; border:0px;" ui-sref="">
                        <img ng-src="img/ic_category_camera.png" align="right" style="width: 100%;">
                        <p align="center" style="color: red; font-size: 10px;">Vidoe Call with Doctor</p>
                    </button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
